{% extends "paginas/Aluno/corpo.html" %}

{% block title %}SDI-Advertencia{% endblock %}

{% block conteudo %}


<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h1>Aviso</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Reunião de pais para tratar dos seguintes termos </h5>
    {% for adver in advertecia %}
    <p class="card-text">{{adver.Comum}}</p>
    {% endfor %}

<!-- Button trigger modal -->

  </div>
  <div class="card-footer text-muted">
    <h3>Nivel - Comun</h3>
  </div>
</div>
</div>

<br>

<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h1>Aviso</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Reunião de pais para tratar dos seguintes termos </h5>
    {% for adver in advertecia %}
    <p class="card-text">{{adver.Media}}</p>
    {% endfor %}

<!-- Button trigger modal -->

  </div>
  <div class="card-footer text-muted">
    <h3>Nivel - Médio</h3>
  </div>
</div>
</div>

<br>

<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h1>Aviso</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Reunião de pais para tratar dos seguintes termos </h5>
    {% for adver in advertecia %}
    <p class="card-text">{{adver.Grave}}</p>
    {% endfor %}

<!-- Button trigger modal -->

  </div>
  <div class="card-footer text-muted">
    <h3>Nivel - Grave</h3>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
      </div>
      <div class="modal-body">
        <p>aqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o textoaqui vai  todo o texto</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<br>

{% endblock %}